<div class="register">
    <div class="register-logo"><img src="../../../assets/images/register-logo.svg" alt=""></div>
    <div class="register-desc">Bleib sauber, werde Mitglied und genieße alle Vorteile von Frag Team Clean</div>
    <div class="register-items">
        <ul>
            <li><img src="../../../assets/images/icon-right.svg" alt="">Gratis Proben und Gutscheine</li>
            <li><img src="../../../assets/images/icon-right.svg" alt="">Exklusive Artikel, Tips & Tricks</li>
            <li><img src="../../../assets/images/icon-right.svg" alt="">Kommentiere deine Lieblingsartikel </li>
            <li><img src="../../../assets/images/icon-right.svg" alt="">Werde Produkttester</li>
            <li><img src="../../../assets/images/icon-right.svg" alt="">Bleib immer auf dem Laufenden</li>
        </ul>
    </div>
    <div class="register-btn"><button>Jetzt registrieren und<br>alle Vorteile genießen</button></div>
</div>