<div class="footer">
    <div class="footer-logo">
        <a href="javascript:;">
            <img src="../../../assets/images/FTC-logo.svg">
        </a>
    </div>
    <div class="footer-links">
        <ul>
            <li><a href="javascript:;">Kontakt</a></li>
            <li><a href="javascript:;">Impressum</a></li>
            <li><a href="javascript:;">Nutzungsbedingungen</a></li>
            <li><a href="javascript:;">Datenschutzerklärung</a></li>
            <li><a href="javascript:;">Cookies</a></li>
            <li><a href="javascript:;">Rezepturinformationen</a></li>
            <li><a href="javascript:;">Netiquette</a></li>
        </ul>
    </div>
    <div class="footer-followus">
        <div class="title">
            <a href="javascript:;">FOLLOWUS</a>
        </div>
        <div class="icon-links">
            <ul>
                <li>
                    <a href="javascript:;"><img src="../../../assets/images/facebook.svg"></a>
                </li>
                <li>
                    <a href="javascript:;"><img src="../../../assets/images/ins.svg"></a>
                </li>
                <li>
                    <a href="javascript:;"><img src="../../../assets/images/youtube.svg"></a>
                </li>
            </ul>
        </div>
    </div>
    <div class="footer-copyright">
        <span>© {{year}}</span>
        <span>Henkel AG & Co. KGaA</span>
    </div>
</div>