.sustainability {
    position: relative;
    margin-top: 39px;
    /* background-color: #fff; */
    z-index: 999;
}

.sustainability-bg img {
    width: 100%;
}

.sustainability-desc {
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
    text-align: center;
}

.sustainability-desc p:first-child {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 309px;
    height: 121px;
    font-family: Patua One;
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 30px;
    color: #3F3F3F;
    margin: 0 auto;
}

.sustainability-desc p:last-child {
    width: 334px;
    font-family: Source Sans Pro;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 22px;
    color: #3F3F3F;
    margin-top: -17px;
}

.sustainability-main {
    position: absolute;
    top: 291px;
    height: 327px;
    width: 344px;
    left: 50%;
    margin-left: -172px;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 10px;
}

.title {
    font-family: Patua One;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0em;
    color: #394A70;
    text-align: center;
    margin: 15px 0;
}

.carousel {
    position: relative;
    width: 295px;
    height: 253px;
    background: #FFFFFF;
    border-radius: 5px;
    margin: 0 auto;
}

.carousel-main {
    border-radius: 5px 5px 0px 0px;
    overflow: hidden;
}

.carousel-main ul {
    position: relative;
    width: 400%;
    display: flex;
}

.carousel-main ul li:nth-child(odd) {
    border: 2px solid #FFFFFF;
}

.carousel-main ul li {
    width: 25%;
}

.carousel-main img {
    width: 100%;
}

.carousel-desc {
    padding-left: 22px;
    margin-top: 23px;
    font-family: Patua One;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    letter-spacing: 0em;
    text-align: left;
    color: #4A4A4A;
}

.left-btn,
.right-btn {
    display: inline-block;
    position: absolute;
    top: 85px;
}

.left-btn {
    left: -36px;
}

.right-btn {
    right: -36px;
}