<div class="choose-main">
    <div class="wave-bg">
        <img src="../../../assets/images/wave-bg.svg" alt="">
    </div>
    <div class="white-bg">
        <p>
            WICHTIGER HINWEIS: <br> Pflegekennzeichnungssymbole sind eingetragene Warenzeichen <br> im Besitz von GINETEX. Jede Verwendung dieser Symbole bedarf <br> der vorherigen Genehmigung durch GINETEX. Weitere <br> Informationen finden Sie hier:
            www.ginetex.net
        </p>
    </div>
    <div class="washer-logo">
        <a href="javascript:;"><img src="../../../assets/images/washer.svg" alt=""></a>
    </div>
    <div class="title">Suchen & Finden</div>
    <div class="description">
        <p>Wähle dein Eikett aus und finde heraus,was</p>
        <p>es bedeutet und wie man die Kleidung auf die</p>
        <p>richtige Art und Weise wäscht.</p>
    </div>
    <div class="washer-tags">
        <ul>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag04.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag01.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag02.svg" alt=""></li>
            <li (click)="check($event)"><img src="../../../assets/images/washer-tag03.svg" alt=""></li>
        </ul>
    </div>
    <div class="submit-btn">
        <a routerLink="/result"><button>Nächster Schritt</button></a>
    </div>
</div>