<div class="washer-tags-desc">
    <div class="tags-title">
        Das bedeuten die <br> Zeichen auf deinem <br> Etikett:
    </div>
    <div class="tags-main">
        <ul>
            <li>
                <div class="tags-img"><img src="../../../assets/images/wash-temp.svg" alt=""></div>
                <div class="tags-desc">
                    <p>Washing temperature</p>
                    <p>30°C is the recommended. You can wash this item with similar colours.</p>
                </div>
            </li>
            <li>
                <div class="tags-img"><img src="../../../assets/images/not-bleach.svg" alt=""></div>
                <div class="tags-desc">
                    <p>Do not bleach</p>
                    <p>Don’t use bleach to wash.</p>
                </div>
            </li>
            <li>
                <div class="tags-img"><img src="../../../assets/images/not-tumble.svg" alt=""></div>
                <div class="tags-desc">
                    <p>Do not tumble dry</p>
                    <p>Drip dry on a clothes horse or outdoors on a line.</p>
                </div>
            </li>
            <li>
                <div class="tags-img"><img src="../../../assets/images/low-iron.svg" alt=""></div>
                <div class="tags-desc">
                    <p>Cold iron if needed</p>
                    <p>Iron cold or low just if it’s needed.</p>
                </div>
            </li>
            <li>
                <div class="tags-img"><img src="../../../assets/images/not-dry-clean.svg" alt=""></div>
                <div class="tags-desc">
                    <p>Do not dry clean</p>
                    <p>Don’t use dry cleaning.</p>
                </div>
            </li>
        </ul>
    </div>
</div>